<div class="container">
    <h2>Welcome {{firstName}} {{lastName}}!</h2>
    <hr>
    <p>Your second life's products are here!</p>

    <input hidden id='coordinatesLat' data-lat='{{address.location.coordinates.[0]}}'>
    <input hidden id='coordinatesLng' data-lng='{{address.location.coordinates.[1]}}'>
    

<div id="userAddress"></div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/maps.js"></script>
<script src="/js/mapStyles.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb3CIAS1ZXY13tYIkYJZ1-RvOLaB0qb8g&callback=initMap"></script>
</div>


